<% if @order.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: order, local: true) do |form| %>
  <br>
  
  <div class="container">
      <div class="form-group">
        <%= form.label :fl_name, value: 'Как вас зовут?'%>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :fl_name, class: 'form-control', placeholder: 'Иванов Иван' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :phone, value: 'Ваш номер телефона' %>
        <div class="row">
          <div class="col-6">
            <%= form.number_field :phone, class: 'form-control', placeholder: '89997776655' %> 
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :description_cargo, value: 'Опишите груз' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_area :description_cargo, class: 'form-control', rows: '5', placeholder: 'Опишите что везёте, габариты перевозимых вещей: размер, вес, количество' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :point_a, value: 'Адрес отправки' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :point_a, class: 'form-control', placeholder: 'г. Дмитров, ул. Советская, д1, кв1' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :point_b, value: 'Адрес доставки' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :point_b, class: 'form-control', placeholder: 'г. Дмитров, мкр. Махалина, д1, кв1' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-primary', value: 'Отправить' %>
        <%= link_to 'Назад', root_path, class: 'btn btn-outline-primary' %>
      </div>
  </div>
<% end %>
