<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  
  <div class="container">
      <div class="form-group">
        <%= form.label :FLName, value: 'Как вас зовут?'%>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :FLName, class: 'form-control' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :phone, value: 'Ваш номер телефона' %>
        <div class="row">
          <div class="col-6">
            <%= form.number_field :phone, class: 'form-control' %> 
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :DescriptionCargo, value: 'Опишите груз' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_area :DescriptionCargo, class: 'form-control', rows: '5' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :PointA, value: 'Адрес отправки' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :PointA, class: 'form-control' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.label :PointB, value: 'Адрес доставки' %>
        <div class="row">
          <div class="col-6">
            <%= form.text_field :PointB, class: 'form-control' %>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-primary', value: 'Отправить' %>
        <%= link_to 'Назад', root_path, class: 'btn btn-outline-primary' %>
      </div>
  </div>
<% end %>
