<div class="container marketing">
    <div class="row featurette">
        <p id="notice"><%= notice %></p>
    </div>

    <div class="row featurette">
        <p>
          <strong>Имя:</strong>
          <%= @order.fl_name %>
        </p>
    </div>
    <div class="row featurette">
        <p>
          <strong>Телефон:</strong>
          <%= @order.phone %>
        </p>
    </div>
    <div class="row featurette">
        <p>
          <strong>Описание груза:</strong>
          <%= @order.description_cargo %>
        </p>
    </div>
    <div class="row featurette">
        <p>
          <strong>Адрес отправки:</strong>
          <%= @order.point_a %>
        </p>
    </div>
    <div class="row featurette">
        <p>
          <strong>Адрес доставки:</strong>
          <%= @order.point_b %>
        </p>
    </div>
    <div class="row featurette">
        <p>
          <strong>Cтатус заказа:</strong>
          <%= @order.status %>
        </p>
    </div>
    <div class="row featurette">
        <%= link_to 'Назад', orders_path, class: 'btn btn-outline-primary' %>
    </div>
</div>




