<% if @contact.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: contact, local: true) do |form| %>
<br>
  
  <div class="container">
      <div class="form-group">
        <%= form.label :body, value: 'Редактируемая страница' %>
        <div class="row">
          <div class="col-12">
            <%= form.hidden_field :body, class: 'form-control', rows: '10', id: :post_body %>
            <trix-editor input="post_body" rows="10"></trix-editor>
          </div>  
        </div>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-primary', value: 'Отправить' %>
        <%= link_to 'Назад', root_path, class: 'btn btn-outline-primary' %>
      </div>
  </div>
<% end %>
