<!DOCTYPE html>
<html>
  <head>
    <title>TruckWebSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.svg' %>
  </head>

  <body>
      
      <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary">
        <a class="navbar-brand" href="<%= root_path %>">
          <img src="/assets/logo.svg" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="<%= active_class(root_path) %>">
              <a class="nav-link" href="<%= root_path %>">Главная</a>
            </li>
            <li class="<%= active_class(contact_index_path) %>">
              <a class="nav-link" href="<%= contact_index_path %>">Контакты</a>
            </li>
            <li class="<%= active_class(about_index_path) %>">
              <a class="nav-link" href="<%= about_index_path %>">О нас</a>
            </li>
            <% if user_signed_in? %> 
              <li class="<%= active_class(orders_path) %>">
                <a class="nav-link" href="<%= orders_path %>">Список заказов</a>
              </li>                    
            <% end %></p>            
          </ul>
          <%= link_to  "Сделать заказ", new_order_path, class: 'btn btn-outline-light my-2 my-sm-0' %>               
        </div>
      </nav>
    
    <main role="main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert alert-success">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
    <%= yield %>
      <!-- FOOTER -->
      <div class="container marketing">
        <hr class="featurette-divider">
      </div>
      <footer class="container">
        <p>&copy; 2017-2018 Company, Inc. &middot;
          <% if user_signed_in? %> 
            <%= link_to  "Выход", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to  "Вход", new_user_session_path %>          
          <% end %></p>
      </footer>
    </main>
  </body>
</html>
