<!DOCTYPE html>
<html>
  <head>
    <title>TruckWebSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to  "Главная", root_path %>
    <%= link_to  "О нас", about_index_path %>
    <%= link_to  "Контакты", contact_index_path %>
    <%= link_to  "Сделать заказ", orders_path %>
    <%= yield %>
  </body>
</html>
